@import'mixing';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --alt-font: 'Montserrat', sans-serif;
    --backround:#FFFFFF;
    --alt-background:#FAFAFA;
    --header: #F8F5FF;
    --black:#000000;
    --button:#845EF7;
    --purple-dark:#5A27F2;
    --gray:#30373E;
    --border:#D3D7DB;
    --light-gray:#ADB5BD;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
    background-color: var(--backround);
    color: var(--black);
}


header{
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    background-color: var(--header);
    border-radius: 0px 0px 32px 32px;
    margin-bottom: 15px;
}


.menu{
    display: flex;
    justify-content: space-between;
    padding: 16px 15px;
    align-items: center;
}



.menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.Eg{
    animation: rotation 10s linear infinite;
}

.Em{
    animation: rotation 6s reverse linear infinite;
}

.Ep{
    animation: rotation 4s reverse linear infinite;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
        transform-origin: center;
        transform-box: fill-box;
    }

    100%{
        transform: rotate(360deg);
        transform-origin: center;
        transform-box: fill-box;
    }
}

.menu__logo{
    width: 58.50px;
    height: 32px;
}




.botao_burger{
    background-image: url(../assets/mobile/header/menu-mobile.svg);
    height: 18px;
    width: 24px;

    &:hover{
        background-image: url(../assets/mobile/header/menu-mobile-hover.png);
        background-position: center;
        height: 18px;
        width: 24px;            
    }

    &:active{
        background-image: url(../assets/mobile/header/menu-mobile-active.png);
        background-position: center;
        height: 18px;
        width: 24px;
    }
}

.botao_lupa{
    background-image: url(../assets/mobile/header/lupa-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;

    &:hover{
        background-image: url(../assets/mobile/header/lupa-mobile-hover.png);
        background-position: center;
        width: 18px;
        height: 18px;
    }

    &:active{
        background-image: url(../assets/mobile/header/lupa-mobile-hover.png);
        background-position: center;
        width: 18px;
        height: 18px;
    }
}

.menu-items{
    background-color: var(--backround);
    width: 320px;
    margin-top: 320px;
    padding-top: 23px;
    padding-bottom: 44px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 0 16px 16px;
    position: fixed;
    z-index: 1;
    margin-left: -15px;
    
    & button{
        width: 23px;
        height: 23px;
        margin-bottom: 33px;
        margin-top: 0;
        margin-left: 0;
    }
}

.menu-options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    & button{
        width: fit-content;
        font-family: var(--alt-font);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        color: black;
        margin-bottom: 0;
        border: 1px solid var(--border);
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 13px;
        padding-bottom: 26px;
        text-align: center;
        border-radius: 8px;

        &:hover{
            color: var(--backround);
            background-color: var(--light-gray);
            border: 1px solid transparent;
        }

        &:active{
            background-color: var(--gray);
        }
    }
}



section{
    padding: 0 15px 0 15px;
}



.banner__1{
    background-image: url("../assets/mobile/banner/banner_BG.png");
    width: 100%;
    height: 308px;
    border-radius: 24px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: -20px;
    background-position-x: 0px;
    background-attachment: fixed;
    
}

.banner__interior{
    position: absolute;
    margin-left: 15px; 
}

@keyframes FadeInUp{
    from{
        opacity: 0;
        transform: translateY(55%);
    }

    to{
        opacity: 1;
    }
}


@keyframes FadeIn{

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }

}

@keyframes color{
    from{
        background-color: var(--button);
    }

    to{
        background-color: var(--purple-dark);
    }
}

.banner__interior p{
    margin-left: 0;
    padding-left: 0;
    width: 68%;
    margin-bottom: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.14px; 
    animation-name: FadeInUp;
    animation-duration: 1s; 
    animation-timing-function: ease-in-out;
    
}

.banner__interior h1{
    animation-name: FadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    margin-right: 30px;
}

.banner button{
    width: 174px;
    height: 44px;
    padding: 13px 32px;
    background-color: var(--button);
    border: none;
    border-radius: 8px;
    color: var(--backround);
    font-family: var(--alt-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
    animation: FadeIn 3s ease-in-out, color 3s alternate ease-in-out infinite;

    &:hover{
        @include botao-roxo-hover;
        padding: 9px 28px;
        animation: none;
    }

    &:focus{
        @include botao-roxo-focus;
        padding: 9px 28px;
        animation: none;
    }

    &:active{
        @include botao-roxo-active;
        border: none;
        animation: none;
    }
}

.sobre-nos{
    background-color: var(--alt-background);
    padding-top: 15px;
    padding-bottom: 15px;
}

.sobre-nos h2{
    font-family: var(--alt-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-bottom: 0;
    padding-left: 0;
}

.sobre-nos__desc p{
    padding-left: 0;
    margin-top: 17px;
    margin-bottom: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px; 
}

.sobre-nos__engenheiros img{
    width: 100%;
    height: 200px;
    margin-bottom:0;
    border-radius: 16px;
}

.sobre-nos__engenheiros--mais{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: 16px;
    width: 100%;
    height: 225px; 
    margin-top:-47px;
    margin-bottom: 16px;
    background-color: var(--backround);
    position: relative;

    &:hover{
        transform: translateY(-20px);
    }
}

.sobre-nos__engenheiros--mais h3{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0.14px; 
    margin-bottom: 0;
}

.sobre-nos__engenheiros--mais button{
    width: 260px;
    align-self: center;
    margin-top: 24px;
    margin-bottom: 41px;
    padding: 13px 30px;
    background-color: transparent;
    border: 1px solid var(--button);
    border-radius: 8px;
    font-family: var(--alt-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    color: var(--button); 
    cursor: pointer;

    &:hover{
        @include botao-branco-hover;
    }

    &:focus{
       @include botao-branco-focus; 
        padding: 9px 26px;
    }

    &:active{
        @include botao-branco-active;
        padding: 13px 30px;
    }
}

.tab-container{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.botao-consultoria{
    width: 137px;
    height: 44px;
    padding: 13px 30px;
    background-color: var(--button);
    border: none;
    border-radius: 8px;
    color: var(--backround);
    font-family: var(--alt-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
    text-align: center;

    &:hover{
        @include botao-roxo-hover;
        padding: 9px 26px;
    }

    &:focus{
        @include botao-roxo-focus;
        padding: 9px 26px;
    }

    &:active{
        @include botao-roxo-active;
        border: none;
        padding: 13px 30px;
    }  
}

.botao-servicos{
    width: 137px;
    height: 44px;
    padding: 13px;
    background-color: transparent;
    border: 1px solid var(--button);
    border-radius: 8px;
    font-family: var(--alt-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
    color: var(--button); 
    cursor: pointer;
    text-align: center;
    margin-right: 0;

    &:hover{
        @include botao-branco-hover;
    }

    &:focus{
        @include botao-branco-focus;
        padding: 9px
    }

    &:active{
        @include botao-branco-active;
        padding: 13px
    }
}

.sobre-nos__consultoria{
    border: 1px solid var(--border);
    border-radius: 16px;
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--backround);
    padding-top:15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0.14px;
    margin-bottom: 0;
    margin-top: 0;
}

.sobre-nos__consultoria img{
   padding-left: 15px;
   margin-bottom: 16px;
   width: 58px;
   height: 64px;
}

.sobre-nos__consultoria h3, p{
    padding-left: 15px;
    padding-right: 15px;
}

.sobre-nos__consultoria p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px; 
    margin-top: 8px;
    margin-bottom: 0;
}

.serv{
    
    border: 1px solid var(--border);
    border-radius: 16px;
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--backround);
    padding-top:15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.serv img{
   margin-bottom: 16px;
   width: 106px;
   height: 64px;
}

.serv h3, p{
    padding-left: 15px;
    padding-right: 15px;
}

.serv p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px; 
    margin-top: 8px;
    margin-bottom: 0;
}

.como{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 24px;
}

.como h2{
    font-family: var(--alt-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.como img{
    width: 100%;
    height: 123px;
    object-fit: cover;
    border-radius: 16px;
}

.como__desc p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px;
    padding-bottom: 15px;
    padding-left: 0;
    margin-bottom: 0;
}

.como__botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.como__botoes--roxo{
    width: 137px;
    height: 44px;
    padding: 13px 32px;
    background-color: var(--button);
    border: none;
    border-radius: 8px;
    color: var(--backround);
    font-family: var(--alt-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;

    &:hover{
        @include botao-roxo-hover;
        padding: 9px 28px;
    }

    &:focus{
        @include botao-roxo-focus;
        padding: 9px 28px;
    }

    &:active{
        @include botao-roxo-active;
        border: none;
    }
}

.como__botoes--branco{
    width: 137px;
    height: 44px;
    padding: 13px;
    background-color: transparent;
    border: 1px solid var(--button);
    border-radius: 8px;
    font-family: var(--alt-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
    color: var(--button); 
    cursor: pointer;
    text-align: center;
    margin-right: 0;

    &:hover{
        @include botao-branco-hover;
    }

    &:focus{
        @include botao-branco-focus;
        padding: 9px
    }

    &:active{
        @include botao-branco-active;
        padding: 13px
    }
}

.vantagens{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: var(--alt-background);
    display: flex;
    flex-direction: column;
}

.vantagens h2{
    font-family: var(--alt-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-top: 0;
    margin-top: 0;
}

.vantagens__card img{
    width: 40px;
    height: 40px;
}

#aviao{
    width: 40px;
    height: 20px;
}

.vantagens__card{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 15px;
    background-color: var(--backround);
    border: 1px solid var(--border);
    border-radius: 16px;
    margin-bottom: 16px;

    &:hover{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        box-shadow: 0px 0px 10px 0px black;
    }
}

.vantagens__card p{
    margin-top: 0;
    padding-top: 0;
}

.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.servicos h2{
    font-family: var(--alt-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-self: flex-start;
}

.servicos__card{
    background-color: var(--alt-background);
    border-radius: 16px;
    margin-bottom: 16px;
    padding-bottom: 15px;
    
}

.servicos img{
    width: 100%;
    height: 148px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:15px;
    padding-right: 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0.14px;
    color: var(--purple-dark);
}

.servicos button{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 1px solid var(--button);
    color: var(--button);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;

    &:hover{
        color: var(--backround);
        background-color: var(--button);
    }

    &:active{
        color: var(--backround);
        background-color: var(--purple-dark);
        border: 1px solid transparent            
    }
}

.inferior p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px;
    margin-top: 0;
    padding-right: 30px;
}

.servicos__desc{
    background-color: var(--alt-background);
    &:hover{
        transform: translateY(-20px);
    }
    
}

footer{
    width: 100%;
    background-color: var(--black);
}

footer h2{
    color: var(--backround);
    font-family: var(--alt-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-bottom: 0;
}

.hide-mobile{
    display: none;
}

footer form{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 26px;
}

footer form input{
    height: 52px;
    margin-bottom: 16px;
    border: none;
    border-radius: 16px;
    padding-left: 15px;
    background-color: var(--gray);
}
::placeholder{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px;
    color: var(--light-gray);
}

footer form select{
    height: 52px;
    margin-bottom: 16px;
    border: none;
    border-radius: 16px;
    padding-left: 15px;
    background-color: var(--gray);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px; 
    color: #6b737a;
    padding-bottom: 0;
    border-right: 16px solid transparent;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../assets/mobile/footer/Rectangle\ 2arrow-select.png);
    background-repeat: no-repeat;
    background-position: 98%;

}

footer form input[type=date]{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px; 
    color: #6b737a;
    padding-bottom: 0;
    padding-right: 14px;
    background-image: url(../assets/mobile/footer/calendar.png);
    background-repeat: no-repeat;
    background-position: 95%;
    &::-webkit-calendar-picker-indicator{
        opacity: 0;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;        
    }

    &:-moz-any(button){
        opacity: 0;
        appearance: none;
    }
}


.check{
    display: flex;
    flex-direction: row;
}

input[type=checkbox]{
    appearance: none;
    background-image: url(../assets/mobile/footer/checkbox.png);
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-image: url(../assets/mobile/footer/checkbox-hover.png);
    }

    &:checked{
        background-image: url(../assets/mobile/footer/checkbox-active.png);
    }
}


.check label{
    color: var(--backround);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.12px;
    padding-left: 15px;
}

.input{
    transition: 1s all;

    outline: none;

    &:focus{
        box-shadow: 0px 0px 10px 0px lightblue;
        
    }

    &:not(:placeholder-shown):invalid{
        box-shadow: 0px 0px 10px 0px lightcoral;
        animation-name: pulse;
        animation-duration: 0.15s;
    }

     
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #000;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #000;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #000;
	}
}

form button{
    padding: 13px 32px;
    width: 100%;
    background-color: var(--button);
    border: none;
    border-radius: 8px;
    color: var(--backround);
    font-family: var(--alt-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
    margin-bottom: 0;

    &:hover{
        @include botao-roxo-hover;
        padding: 9px 28px;
    }

    &:focus{
        @include botao-roxo-focus;
        padding: 9px 28px;
    }

    &:active{
        @include botao-roxo-active;
        border: none;
        padding: 13px 32px;
    }
}

.footer__desc{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.14px; 
    color: var(--backround);
    padding-top: 24px;
}

.footer__logo svg{
    margin-left: 15px;
    width: 106px;
    height: 58px;
}

.footer__lista{
    margin-top: 32px;
    margin-bottom: 32px;
}

footer ul{
    padding-left: 15px;
    width: 140px;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--alt-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-left: 0;
    color: var(--backround);
}

li{
    list-style: none;
    margin-left: 0;
}

a{
    text-decoration: none;
    color: var(--backround);

    &:hover{
        text-decoration: underline;
    }

    &:active{
        text-decoration: underline;
        color: var(--button);
    }
}

.social__insta{
    width: 40px;
    height: 40px;
    background-image: url(../assets/mobile/footer/insta-footer-mobile.svg);
    border: none;
    cursor: pointer;
    margin-right: 24px;
    border-radius: 50px;
    background-position: center;

    &:hover{
        background-image: url(../assets/mobile/footer/insta-footer-hover.svg);
        background-position: center;
        border: none;
    }
    
    
}

.social__insta img{
    margin-left: -7px;
    padding: 0px;
    width: 40px;
    height: 40px;
}

.social__face img{
    margin-left: -7px;
    padding-left: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.social__face{
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(../assets/mobile/footer/face-footer-mobile.svg);
    background-position: center;

    &:hover{
        background-image: url(../assets/mobile/footer/face-footer-hover.svg);
        background-position: center;
        border: none;
    }
}

.social{
    margin-left: 15px;
    padding-bottom: 40px;
}

.modal-container{
    height: 100vh;
    width: 100hv;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.698);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    font-family: Poppins;
    width: 80%;
    height: 200px;
    max-width: 500px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;

    & button{
        font-size: medium;
        font-weight: 700;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: var(--button);
        color: white;
        cursor: pointer;
        width: 50%;
        align-self: center;


        &:hover{
            @include botao-roxo-hover;
            padding: 8px;
        }

        &:focus{
            @include botao-roxo-focus;
            padding: 8px;
        }

        &:active{
            @include botao-roxo-active;
            padding: 8px;
        }
    }
}


.modal-content{
    font-size: large;
    font-family: var(--alt-font);
    text-align: center;
}

